<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>GISinfo</title>
    <link rel=stylesheet type="text/css" href="../static/css/external-stylesheet.css">
    <script src="../static/js/d3.js"></script>
    <script src="../static/js/topojson.js"></script>
    <script src="../static/js/d3-queue.js"></script>
    <script src="../static/js/d3jsV4Slider.js"></script>
</head>
<body>
<div class="headlineBox">
    <div class="headline" id="text_HeadLine"></div>
    <div class="subHeadline" id="text_SubHeadLine">-以雙北地區為例</div>
</div>
<div id="div-SliderBox" class="sliderBox">
    <div class="slider-inner-box" id="innerBoxStartYr">起始歲數<div class="slider" id="div-sStartYr"></div></div><br>
    <div class="slider-inner-box" id="innerBoxDiffYr">年齡區間<div class="slider" id="div-sDiffYr"></div></div><br>
    <div class="slider-inner-box" id="innerBoxDiagYr">統計區間<div class="slider" id="div-sDiagYr"></div></div><br>
</div>

<script>

    var width = 800,
        Height = 950,
        centered = d3.select(null),
        intStartYr = 80,
        intDiffYr = 40,
        intDiagYr = 5,
        intEndYr = intStartYr + intDiffYr,
        strTitle = "三軍總醫院 " + String(intDiagYr) + " 年來 " + String(intStartYr)  + " 歲到 " + String(intEndYr) + " 歲求診族群分佈圖",
        lastFocusNode = d3.select(null);

    var arrayDensity;
    var max;
    var features;
    var gv_villages, gv_hospitals, gv_CityTopo;

    var title = d3.select("#text_HeadLine").append("text");
    title.text(strTitle)
        .classed('headline',true);

    // 把密度投射到色彩空間
    var color = d3.scaleLinear();

    var messageBox = d3.select("body").append("div")
        .classed('message-box',true);

    var DetailText = messageBox.append('text')
        .classed('detail-text', true);

    var svg = d3.select("body").append("svg")
        .attr("width", width)
        .attr("height", Height)
        .classed('svgPic', true)
        .on('click', stopped, true);

    // 加入背景
    svg.append('rect')
        .style("fill", "#f0f0f0")
        .attr('width', width)
        .attr('height', Height)
        .on('click', reset);

    var g = svg.append('g');

    // 為了放大
    var zoom = d3.zoom()
        .scaleExtent([1, 8])
        .on("zoom", zoomed);

    svg.call(zoom);

    var mapLayer = g.append('g')
        .classed('map-layer', true);

    // 產生投影
    var projection = d3.geoMercator();

    // 改變投影，把台北的中間變成地圖的中間
    projection
        .translate([width/2, Height/2])
        .center([121.643,25.026])
        .scale(60000);

    var path = d3.geoPath().projection( // 路徑產生器
        projection
    );

    // load data
    var dataURL = 'http://10.160.16.16:9999/GISSYS/api/geopopdata/' + String(intStartYr) + '/' + String(intDiffYr) + '/' + String(intDiagYr);

    var q = d3.queue();

    q.defer(d3.json, dataURL);
    q.defer(d3.csv, "../static/csv/hospitals.csv");
    q.defer(d3.json, "../static/json/NTPEandTPETopo.json");
    q.await(fxDataDone);


    // 為了把非同步資料變成global value，所以只好用下面這個片段
    function fxDataDone(error, villages, hospitals, CityTopo){
        if(error) { console.log(error); }
        gv_villages = villages;
        gv_hospitals = hospitals;
        gv_CityTopo = CityTopo;
        loaded();
    }

    function loaded(){
        arrayDensity = Object.keys(gv_villages.tasks).map(function(k) { return Number(gv_villages.tasks[k][0]/gv_villages.tasks[k][1]);});
        max = d3.max(d3.values(arrayDensity));

        // 把密度投射到色彩空間
        color.domain([0, max])
            .range(["#d3ffd1","#576a57"])
            .clamp(true);

        // 這裡要注意的是 topodata.objects["NTPEandTPE"] 中的 "NTPEandTPE" 為原本 shp 的檔名
        features = topojson.feature(gv_CityTopo, gv_CityTopo.objects["NTPEandTPE"]).features;

        // 資料貼合
        fxDataBinding();

        // 畫地圖
        mapLayer.selectAll("path").data(features)
            .enter()
            .append("path")
            .attr("d", path)
            .attr("vector-effect", "non-scaling-stroke")
            .style("fill", fillFn)
            .on("mouseover", mouseover)
            .on("mouseout", mouseout)
            // 為了放大
            .on("click", clicked);

        // 畫醫院
        mapLayer.selectAll("circle")
            .data(gv_hospitals)
            .enter()
            .append("circle")
            .attr("cx", function(d) {
                return projection([Number(d.lon), Number(d.lat)])[0];
            })
            .attr("cy", function(d) {
                return projection([Number(d.lon), Number(d.lat)])[1];
            })
            .attr("r", 5)
            .style("fill", "red");
    }

    function fxDataBinding(){
        for(var i=features.length - 1; i >= 0; i-- ) {
            if (gv_villages.tasks[features[i].properties.VILLCODE] === undefined){
                features[i].properties.density = undefined;
                features[i].properties.diagPop = '無資料';
                features[i].properties.allPop = '無資料';
                continue;
            }
            features[i].properties.density = gv_villages.tasks[features[i].properties.VILLCODE][0]/gv_villages.tasks[features[i].properties.VILLCODE][1];
            features[i].properties.diagPop = gv_villages.tasks[features[i].properties.VILLCODE][0];
            features[i].properties.allPop = gv_villages.tasks[features[i].properties.VILLCODE][1];
        }
    }

    function fillFn(d){
        if (d.properties.density === undefined){
            return "white"
        }
        return color(popFn(d));
    }

    function popFn(d){
        return d && d.properties ? d.properties.density : null;
    }

    function nameFn(d){
        var strfullGeoName = d.properties.COUNTYNAME + d.properties.TOWNNAME + d.properties.VILLNAME;
        if (d.properties.density === undefined){
            return strfullGeoName + ': <br>沒有資料';
        }
        return d && d.properties ? strfullGeoName + '<br><br>飽和指數: <br>' + (d.properties.density*100).toFixed(6) +
            ' %<br>看診人數: ' + d.properties.diagPop + '<br>地區總人口: ' + d.properties.allPop : null;
    }

    function mouseover(d){
        if (centered.node() === this){
            d3.select(this)
                .style('fill', '#0d92d5');
            DetailText.html(nameFn(d));
            return;
        }
        d3.select(this)
            .style('fill', "#ff479f");
        DetailText.html(nameFn(d));
    }

    function mouseout(d) {
        // 還原顏色
        d3.select(this)
            .style("fill", fillFn(d));
        mapLayer.selectAll('path')
            .style('fill', function (d) {
                return centered.node() && this === centered.node() ? '#0d92d5' : fillFn(d);
            });
        // 如果有點擊哪一個里，那個里就會被設為焦點
        // 所以mouseover其他里時，文字會顯示其他里的資料
        // 但是離開其他里時，因為焦點沒有消失，所以訊息文字會設定為焦點里的資料
        // 如果沒有設定焦點，那麼mouseout時就會把里資料清空
        if (centered.node()){
            // centered.node()的type是path, centered.node().__data__的type則是feature
            DetailText.html(nameFn(centered.node().__data__));
        } else {
            DetailText.html("");
        }
    }

    function clicked(d) {
        if (centered.node() === this) {
            return reset(d);
        }
        centered.classed("active", false);
        lastFocusNode = centered;
        centered = d3.select(this).classed("active", true);

        // 如果上一個焦點節點是空的，那麼把目前焦點節點設定為藍色
        // 如果上一個焦點節點不是空的，就把上一個焦點節點設定為原來的顏色
        // 並且把目前的焦點節點設定為藍色
        if (lastFocusNode.node() === null){
            d3.select(this)
                .style('fill', '#0d92d5');
        }else{
            d3.select(lastFocusNode.node()).style('fill', fillFn(d));
            d3.select(this)
                .style('fill', '#0d92d5');
        }

        var bounds = path.bounds(d),
            // 算X邊長度
            dx = bounds[1][0] - bounds[0][0],
            // 算Y邊長度
            dy = bounds[1][1] - bounds[0][1],
            // 算圖片中心的X位置
            x = (bounds[0][0] + bounds[1][0]) / 2,
            // 算圖片中心的Y位置
            y = (bounds[0][1] + bounds[1][1]) / 2,
            // 先根據dx決定到底要放大為width的幾倍
            // 如果dx小於width，例如只有0.1倍，那麼0.9/0.1就是9
            // 但是放大九倍就太多了，所以在八倍和九倍之間選擇八倍，也就是說任何一個區塊最多就是放大八倍
            // 又例如說，dx如果是width的0.2倍，那麼用1/0.2就會變成倒數，也就是原來dx只有width的1/5，倒數放大到五倍，就跟width一樣大
            // 但是為了美觀，所以用0.9，這樣會比倒數小一點
            // 但是如果dx是width的兩倍大，這樣並不會縮小dx，而是就顯示一倍
            // 最外圈的功能是如果比較小會放大，但是比較大不會縮小
            scale = Math.max(1, Math.min(8, 0.9 / Math.max(dx / width, dy / Height))),
            translate = [width / 2 - scale * x, Height / 2 - scale * y];

        svg.transition()
            .duration(750)
            // .call(zoom.translate(translate).scale(scale).event); // not in d3 v4
            .call( zoom.transform, d3.zoomIdentity.translate(translate[0],translate[1]).scale(scale) ); // updated for d3 v4
    }

    function reset(d) {
        //centered.classed("active", false);
        // 如果焦點和現點同一點，就把顏色取消
        d3.select(centered.node()).style('fill', fillFn(d));
        centered = d3.select(null);

        svg.transition()
            .duration(750)
            // .call( zoom.transform, d3.zoomIdentity.translate(0, 0).scale(1) ); // not in d3 v4
            .call( zoom.transform, d3.zoomIdentity ); // updated for d3 v4
    }

    function zoomed() {
        g.style("stroke-width", 1.5 / d3.event.transform.k + "px");
        // g.attr("transform", "translate(" + d3.event.translate + ")scale(" + d3.event.scale + ")"); // not in d3 v4
        g.attr("transform", d3.event.transform); // updated for d3 v4
    }

    // If the drag behavior prevents the default click,
    // also stop propagation so we don’t click-to-zoom.
    function stopped() {
        if (d3.event.defaultPrevented) d3.event.stopPropagation();
    }

    //-----------------------------slider------------------------------
    function Constr(d0, d1, d2, textTipStartYr, textTipDiffYr, textTipDiagYr)
    {
        intStartYr = Math.round(d0.value());
        intDiffYr = Math.round(d1.value());
        intDiagYr = Math.round(d2.value());
        intEndYr = intStartYr + intDiffYr;

        textTipStartYr.html(intStartYr + ' 歲');
        textTipDiffYr.html(intDiffYr + ' 年');
        textTipDiagYr.html(intDiagYr + ' 年內');
    }

    var sStartYr = slider(0,120), sDiffYr = slider(0,120), sDiagYr = slider(0,100);

    txtSartYr = d3.select('#innerBoxStartYr')
        .append('text')
        .classed('textTip',true)
        .html(intStartYr + ' 歲');

    txtDiffYr = d3.select('#innerBoxDiffYr')
        .append('text')
        .classed('textTip',true)
        .html(intDiffYr + ' 年');
    txtDiagYr = d3.select('#innerBoxDiagYr')
        .append('text')
        .classed('textTip',true)
        .html(intDiagYr + ' 年內');

    d3.select("#div-sStartYr").append("svg").call(sStartYr);
    d3.select("#div-sDiffYr").append("svg").call(sDiffYr);
    d3.select("#div-sDiagYr").append("svg").call(sDiagYr);

    sStartYr.value(intStartYr);
    sDiffYr.value(intDiffYr);
    sDiagYr.value(intDiagYr);



//    sStartYr.callback(function(){Constr(sStartYr,sDiffYr,sDiagYr, x1Text, x2Text, x3Text);});
//    sDiffYr.callback(function(){Constr(sDiffYr,sStartYr,sDiagYr, x2Text, x1Text, x3Text);});
//    sDiagYr.callback(function(){Constr(sDiagYr,sStartYr,sDiffYr, x3Text, x1Text, x2Text);});

    sStartYr.callback(function(){Constr(sStartYr,sDiffYr,sDiagYr,txtSartYr,txtDiffYr,txtDiagYr);});
    sDiffYr.callback(function(){Constr(sStartYr,sDiffYr,sDiagYr,txtSartYr,txtDiffYr,txtDiagYr);});
    sDiagYr.callback(function(){Constr(sStartYr,sDiffYr,sDiagYr,txtSartYr,txtDiffYr,txtDiagYr);});
    //-----------------------------slider------------------------------

    function FnDataReloaded(error, villages){
        if(error) { console.log(error); }
        // 重新設定里的資料
        gv_villages = villages;
        strTitle = "三軍總醫院 " + String(intDiagYr) + " 年來 " + String(intStartYr)  + " 歲到 " + String(intEndYr) + " 歲求診族群分佈圖";
        title.text(strTitle);
        arrayDensity = Object.keys(gv_villages.tasks).map(function(k) { return Number(gv_villages.tasks[k][0]/gv_villages.tasks[k][1]);});
        // 重新設定色彩空間的最大值
        max = d3.max(d3.values(arrayDensity));

        // 把密度投射到色彩空間
        color.domain([0, max*0.2])
            .range(["#d3ffd1","#576a57"])
            .clamp(true);

        // 資料貼合
        fxDataBinding();
        // 上色
        mapLayer.selectAll('path')
            .style('fill', fillFn);
    }

    // 滑鼠放開以後，啟動ended()，當資料讀取完畢以後，call FnDataReloaded
    function ended(){
        dataURL = 'http://10.160.16.16:9999/GISSYS/api/geopopdata/' + String(intStartYr) + '/' + String(intDiffYr) + '/' + String(intDiagYr);
        var q_reload = d3.queue();
        q_reload.defer(d3.json, dataURL);
        q_reload.await(FnDataReloaded);
    }
</script>
</body>
</html>
